html, body, #App, .content {
  height: 100vh;
}

.content .screen {
  position: relative;
  height: 100%;
  overflow: auto;
  padding-right: 20px;
  padding-bottom: 20px;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.85);
  width: 300px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  width: calc(100vw - 300px);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.register-resolver.screen {
  padding: 0;
}

.resolver-props-selectors {
  display: inline-block;
}

#resolver-editor {
  padding-top: 25px !important;
  height: calc(100% - 40px) !important;
}

div[class^='toast-wrapper'] {
  font-size: 14px;
  font-family: Segoe UI, Microsoft YaHei, Open Sans, sans-serif, Hiragino Sans GB, Arial, Lantinghei SC, STHeiti, WenQuanYi Micro Hei, SimSun;
  color: #fff;
}

.tupleKey {
  display: inline-block !important;
  margin-right: 5px !important;
  width: 50% !important;
}
.tupleValue {
  display: inline-block !important;
  width: calc(50% - 70px) !important;
}