html, body, #App, .content {
  height: 100vh;
}

*::-webkit-scrollbar-thumb {
  background-color: #c800a4 !important;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff0f !important;
}

button {
  border-radius: 4px;
}

*[class^="tree-view-title"] {
  border-radius: 4px;
  overflow: hidden;
}

*[class^="tree-view-title"] *[class^="icon"] {
  display: inline-block;
  margin-left: 5px;
}

input {
  border-radius: 3px;
}

*[class^="dropDownMenu-root"] {
  margin-right: 10px;
  height: 40px !important;
}

*[class^="dropDownMenu-wrapper"] {
  background: rgba(255, 255, 255, 0.15) !important;
  border-radius: 4px;
  text-shadow: 0 1px 1px #0000006e;
  min-height: 40px;
}

*[class^="dropDownMenu-value"] {
  position: relative;
  top: 3px;
}

.content .screen {
  position: relative;
  height: 100%;
  overflow: auto;
  padding-right: 20px;
  padding-bottom: 20px;
}

.sidebar {
  background-color: #392A57;
  width: 300px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

.sidebar > div {
  padding: 10px;
}

.sidebar .search-input {
  width: 280px;
}

.sidebar-tree {
  width: 100% !important;
  padding: 0 !important;
  background: transparent !important;
  margin-top: 10px;
}

.sidebar-tree .tree-item.resolver {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='GraphQL_Logo' x='0px' y='0px' viewBox='0 0 400 400' enable-background='new 0 0 400 400' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Crect x='122' y='-0.4' transform='matrix(-0.866 -0.5 0.5 -0.866 163.3196 363.3136)' fill='%23E535AB' width='16.6' height='320.3'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='39.8' y='272.2' fill='%23E535AB' width='320.3' height='16.6'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='37.9' y='312.2' transform='matrix(-0.866 -0.5 0.5 -0.866 83.0693 663.3409)' fill='%23E535AB' width='185' height='16.6'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='177.1' y='71.1' transform='matrix(-0.866 -0.5 0.5 -0.866 463.3409 283.0693)' fill='%23E535AB' width='185' height='16.6'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='122.1' y='-13' transform='matrix(-0.5 -0.866 0.866 -0.5 126.7903 232.1221)' fill='%23E535AB' width='16.6' height='185'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='109.6' y='151.6' transform='matrix(-0.5 -0.866 0.866 -0.5 266.0828 473.3766)' fill='%23E535AB' width='320.3' height='16.6'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='52.5' y='107.5' fill='%23E535AB' width='16.6' height='185'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='330.9' y='107.5' fill='%23E535AB' width='16.6' height='185'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='262.4' y='240.1' transform='matrix(-0.5 -0.866 0.866 -0.5 126.7953 714.2875)' fill='%23E535AB' width='14.5' height='160.9'/%3E%3C/g%3E%3C/g%3E%3Cpath fill='%23E535AB' d='M369.5,297.9c-9.6,16.7-31,22.4-47.7,12.8c-16.7-9.6-22.4-31-12.8-47.7c9.6-16.7,31-22.4,47.7-12.8 C373.5,259.9,379.2,281.2,369.5,297.9'/%3E%3Cpath fill='%23E535AB' d='M90.9,137c-9.6,16.7-31,22.4-47.7,12.8c-16.7-9.6-22.4-31-12.8-47.7c9.6-16.7,31-22.4,47.7-12.8 C94.8,99,100.5,120.3,90.9,137'/%3E%3Cpath fill='%23E535AB' d='M30.5,297.9c-9.6-16.7-3.9-38,12.8-47.7c16.7-9.6,38-3.9,47.7,12.8c9.6,16.7,3.9,38-12.8,47.7 C61.4,320.3,40.1,314.6,30.5,297.9'/%3E%3Cpath fill='%23E535AB' d='M309.1,137c-9.6-16.7-3.9-38,12.8-47.7c16.7-9.6,38-3.9,47.7,12.8c9.6,16.7,3.9,38-12.8,47.7 C340.1,159.4,318.7,153.7,309.1,137'/%3E%3Cpath fill='%23E535AB' d='M200,395.8c-19.3,0-34.9-15.6-34.9-34.9c0-19.3,15.6-34.9,34.9-34.9c19.3,0,34.9,15.6,34.9,34.9 C234.9,380.1,219.3,395.8,200,395.8'/%3E%3Cpath fill='%23E535AB' d='M200,74c-19.3,0-34.9-15.6-34.9-34.9c0-19.3,15.6-34.9,34.9-34.9c19.3,0,34.9,15.6,34.9,34.9 C234.9,58.4,219.3,74,200,74'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 23px;
}
.sidebar-tree .tree-item.custom-file {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='256px' height='256px' viewBox='0 0 256 256' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid'%3E%3Cg%3E%3Cpolygon fill='%23007ACC' transform='translate(128.000000, 128.000000) scale(1, -1) translate(-128.000000, -128.000000) ' points='0 128 0 0 128 0 256 0 256 128 256 256 128 256 0 256'%3E%3C/polygon%3E%3Cpath d='M146.658132,223.436863 L146.739401,212.953054 L130.079084,212.953054 L113.418767,212.953054 L113.418767,165.613371 L113.418767,118.273689 L101.63464,118.273689 L89.8505126,118.273689 L89.8505126,165.613371 L89.8505126,212.953054 L73.1901951,212.953054 L56.5298776,212.953054 L56.5298776,223.233689 C56.5298776,228.922577 56.6517824,233.676863 56.8143221,233.798768 C56.9362269,233.961308 77.2130522,234.042577 101.797179,234.001943 L146.536227,233.880038 L146.658132,223.436863 Z' fill='%23FFFFFF' transform='translate(101.634640, 176.142993) rotate(-180.000000) translate(-101.634640, -176.142993) '%3E%3C/path%3E%3Cpath d='M206.566631,234.272145 C213.068219,232.646748 218.025679,229.761668 222.57679,225.048018 C224.933616,222.528653 228.428219,217.936907 228.712663,216.839764 C228.793933,216.514684 217.659965,209.037859 210.914568,204.852462 C210.670758,204.689922 209.69552,205.74643 208.598377,207.371827 C205.306949,212.166748 201.852981,214.239129 196.570441,214.604843 C188.809171,215.133097 183.811076,211.069605 183.851711,204.283573 C183.851711,202.292462 184.136155,201.114049 184.948854,199.488653 C186.65552,195.953414 189.825044,193.840399 199.7806,189.533097 C218.106949,181.649922 225.949489,176.448653 230.825679,169.053097 C236.270758,160.804208 237.489806,147.638494 233.792028,137.845478 C229.728536,127.199129 219.651076,119.966113 205.469489,117.568653 C201.080917,116.796589 190.678377,116.918494 185.964727,117.771827 C175.684092,119.600399 165.931711,124.679764 159.917743,131.343891 C157.560917,133.944526 152.969171,140.730557 153.253616,141.218176 C153.37552,141.380716 154.432028,142.030875 155.610441,142.721668 C156.748219,143.371827 161.05552,145.850557 165.119012,148.207383 L172.473933,152.474049 L174.01806,150.198494 C176.171711,146.907065 180.885362,142.396589 183.729806,140.893097 C191.897425,136.585795 203.112663,137.195319 208.639012,142.15278 C210.995838,144.30643 211.971076,146.541351 211.971076,149.83278 C211.971076,152.799129 211.605362,154.099446 210.061235,156.334367 C208.070123,159.178811 204.006631,161.576272 192.466314,166.574367 C179.259965,172.263256 173.571076,175.798494 168.369806,181.406113 C165.362822,184.656907 162.518377,189.858176 161.339965,194.206113 C160.364727,197.822621 160.120917,206.884208 160.892981,210.541351 C163.61552,223.300716 173.245996,232.199764 187.143139,234.841034 C191.653616,235.694367 202.137425,235.369287 206.566631,234.272145 Z' fill='%23FFFFFF' transform='translate(194.578507, 176.190240) scale(1, -1) translate(-194.578507, -176.190240) '%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 23px;
}

.content {
  width: calc(100vw - 300px);
  height: 100%;
  padding: 5px 15px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.fx.bg-gradient {
  background-image: url('./assets/bg-gradient.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(100vw - 300px);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.fx.corner-bottom-right {
  background-image: url('./assets/corner-bottom-right.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 527px;
  height: 158px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.fx.smoke {
  background-image: url('./assets/rocket-smoke.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: calc(100vw - 300px);
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
  opacity: 0.2;
}

.register-resolver.screen {
  padding: 0;
}

.resolver-props-selectors {
  display: inline-block;
}

#resolver-editor {
  border-radius: 4px;
  background: #0000004d;
  color: white;
}
.register-resolver.create #resolver-editor {
  height: calc(100% - 102px) !important;
}
.register-resolver.edit #resolver-editor {
  height: calc(100% - 52px) !important;
}
#resolver-editor .ace_print-margin {
  width: 1px;
  background: #ff00c830;
}
#resolver-editor .ace_indent-guide {
  background: none;
  border-right: 1px solid #ffa5ef40;
}
#resolver-editor .ace_cursor {
  color: #c800a4;
}
#resolver-editor .ace_string {
  color: #17ff00;
}

div[class^='toast-wrapper'] {
  font-size: 14px;
  font-family: Segoe UI, Microsoft YaHei, Open Sans, sans-serif, Hiragino Sans GB, Arial, Lantinghei SC, STHeiti, WenQuanYi Micro Hei, SimSun;
  color: #fff;
}

.tupleKey {
  display: inline-block !important;
  margin-right: 5px !important;
  width: 50% !important;
}
.tupleValue {
  display: inline-block !important;
  width: calc(50% - 70px) !important;
}

.loader {
  position: absolute;
  top: 50%;
  left: 25%;
  background: #ffffff0f;
  height: 20px !important;
  padding-top: 8px;
  border-radius: 20px;
}

.content-title {
  margin-bottom: 10px;
}

button.title-action {
  margin-left: 10px;
  margin-right: 10px;
}

.service-property {
  margin-bottom: 20px;
}
.service-property .label {
  display: block;
  margin-bottom: 5px;
}
.service-property .input-checkbox div[class^="checkbox-wrapper"] {
  margin-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  padding-right: 10px;
}
.service-property .input-checkbox div[class^="checkbox-wrapper"]:last-child {
  border-right: none;
  padding-right: 0;
}

.toolbar {
  margin-bottom: 5px;
}

.toolbar button {
  margin-left: 5px;
  margin-right: 5px;
}
.toolbar button:first-child {
  margin-left: 0;
}
.toolbar button:last-child {
  margin-right: 0;
}